#what .key-points {
  flex-direction: column;
  align-items: center;
}

#what .point {
  width: 55%;
  margin-top: 30px;
}

@media (max-width: 560px) {
  #nav-bar .nav-wrap {
    flex-direction: column;
  }

  .nav-wrap ul {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-size: 1.7rem;
  margin-top: 10px;
}

 #nav-bar h2 {
   font-size: 2rem;
    margin-top: 10px
 }

}