/**** ROOT CSS ****/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 1rem;
}

.text-primary {
  color: limegreen
}

.bg-primary {
  background-color: limegreen;
}

.medium-heading {
  font-size: 2.7rem;
  text-align: center;
  margin: 20px 0;
  letter-spacing: 3px;
}

li {
  list-style: none;
}



/**** NAV BAR ****/

#nav-bar {
  position: sticky;
  top: 0;
  background: #333;
  color: white;
  z-index: 1; 
}

.nav-wrap {
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

.nav-wrap ul {
  color: white;
  display: flex;
  align-items: center;
}

.nav-wrap ul li {
  padding: 10px 10px;
}

.nav-wrap ul li:hover {
  background-color: limegreen;
  border-radius: 10px;
}



/**** SHOWCASE ****/

#showcase {
  background-image: url('https://images.unsplash.com/photo-1462007895615-c8c073bebcd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

#showcase .showcase-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
}

#showcase .large-heading {
  color: lime;
  font-size: 4rem;
  letter-spacing: 3px;
  position: relative;
  bottom: 110px;
  text-align: center;
}

#showcase .lead-text {
  color: white;
  font-size: 1.5rem;
  display: inline-block;
  width: 80%;
  text-align: center;
  position: relative;
  bottom: 50px;
  letter-spacing: 2px;
}

#showcase .btn {
  display: inline-block;
  padding: 10px 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
  background-color: lime;
  color: black;
  font-weight: bold;
  border-radius: 10px;;
}

#showcase .btn:hover {
  background-color: limegreen;
}



/**** WHAT ****/

#what {
  text-align: center;
}

#what .key-points {
  display: flex;
  margin: 30px;
  justify-content: space-evenly;
}

#what .point {
  width: 20%;
  display: flex;
  flex-direction: column;
}

#what i {
  padding: 20px;
  border-radius: 50%;
  text-align: left;
  margin: auto;
}

#what .small-heading {
  margin: 10px 0;
}

/**** WHO ****/

#who {
  display: flex;
  background-color:#333;
  color: white;
  text-align: center;
  height: 535px;
}

#who .who-items {
  padding: 50px 0 ;
}

#who div {
  width: 50%;
}

#who img {
  width: 100%;
}

#who p, h3 {
  letter-spacing: 2px;
}

#who h3 {
  font-size: 2rem;
}

#who .staff {
  margin-top: 40px;
  width: 100%;
}



/* CONTACT */

#contact {
  margin-top: -1px;
  display: flex;
  color: whitesmoke;
}

#contact .contact-form{
  background-color: limegreen;
  width: 40%;
  padding: 10px;
 }

 .contact-form h3 {
   margin-top: 10px;
   text-align: center;
   font-size: 2.2rem;
 }

 .contact-form form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 15px;
 }

 .contact-form label {
   margin-top: 10px;
   margin-bottom: 5px;
   text-align: center;
 }

 .contact-form input {
   width: 50%;
   border-radius: 3px;
   padding: 5px;
 }

 .contact-form textarea {
   width: 50%;
   height: 70px;
 }

 #contact .map {
   width: 60%;
   background-color: darkcyan;
 }

 #contact button {
   color: white;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 4px;
   margin: 10px 0;
   width: 50%;
   padding: 10px;
   border-radius: 5px;
   background-color: #333;
 }



